@charset "uft-8";
/*
   em HTML é id = em CSSé #
   em HTML é class = em CSS é . 
*/

body{
    background-image: linear-gradient(to bottom, aquamarine, white);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(6, 66, 47);
}
h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}
h2{
    color: rgb(25, 94, 67);
}
.basico{
    color: rgb(233, 129, 81);
}
.intemediario{
    color: rgb(167, 91, 238);
}
.avancado{
    color: rgb(110, 99, 99);
}
.destaque{
    background-color: rgb(247, 247, 55);
    font-weight: bold;
}